# Python Programming Dasar

Anda dapat mengkases website Python di [Python](http://python.org/). <br> Anda dapat mengunduh Anaconda di [Anaconda](http://anaconda.com/).

![Gambar CCTV](https://asset-a.grid.id/crop/0x0:1417x868/700x465/photo/2019/01/05/1877290494.jpg)

![Gambar CCTV 2](download.jpg)
* * *

## 1. Business Understanding

### 1.1 Latar Belakang
* Karena **belum adanya data** mengenai *jumlah* jenis **_mobil_** di DKI Jakarta
* Dan lain-lain
    * List yang lain

### 1.2 Tujuan
1. Untuk membuat model prediksi jenis mobil dan nomor plat dari data CCTV
2. Untuk membantu pemerintah dalam membuat undang-undang pembatasan kendaraan bermotor
    1. satu (tinggal tab saja, lalu ketik 1. akan otomatis menjadi A. B. C. dst)
    2. dau
    3. tiga

### 1.3 Manfaat
***

## 2. Data Understanding

## 3. Data Preparation

## 4. Modelling

## 5. Evaluation

## 6. Presentation

In [1]:
print ("Hello World")

Hello World

In [2]:
print(2+5)

7

In [3]:
print(5-10)

-5

In [6]:
apple= 10
orange = 6

print('apple value=')
print(apple)
print('orange value=')
print(orange)
print('apple+orange value=')
print (orange+apple)

apple value=
10
orange value=
6
apple+orange value=
16

In [7]:
print (True)

True

In [8]:
print (type(True))

<class 'bool'>

In [10]:
print (apple==orange)

False

In [11]:
Fam = [2,3,5,7]

In [12]:
print (Fam)

[2, 3, 5, 7]

In [13]:
type(Fam)

list

In [22]:
Data=[["Bob", 160],["Charlie", 165], ["Delta", 155]]

Data

Data[0]

Data[0][0]

'Bob'

In [23]:
print(Data)

[['Bob', 160], ['Charlie', 165], ['Delta', 155]]

In [27]:
print(Data)
x,y=max(Data, key=lambda a:a[1])
print(x)
print(y)

[['Bob', 160], ['Charlie', 165], ['Delta', 155]]
Charlie
165

In [28]:
print(max(Fam))
print(min(Fam))

7
2

In [29]:
name="hello world"
print(name)
print(type(name))
# hello world type is string
print(name.capitalize())
print(name.upper())
print(name.lower())
print(name.lower())
print(name.strip()) #jika ada space di awal dan diakhir string, maka space tersebut akan hilang

hello world
<class 'str'>
Hello world
HELLO WORLD
hello world
hello world
hello world

In [30]:
name1="Dwilaras Athina .com"
print(name1.strip(".com"))

Dwilaras Athina

In [36]:
animals=['cat','dog', 'monkey','chicken', 'bird', 'duck']

for animal in animals:
    print (animal)
    nums = [0,1,2,3,4]
    squares = [x**2 for x in nums]
print (squares)

cat
dog
monkey
chicken
bird
duck
[0, 1, 4, 9, 16]

In [37]:
name[1:5]

'ello'

In [38]:
name[0:7]

'hello w'

In [39]:
HargaWortel=10000
type(HargaWortel)

int

In [40]:
RatingChannelX=5.9
type(RatingChannelX)

float

In [43]:
nama_variable = 'Phyton untuk pemula'
print(type(nama_variable))
print(nama_variable[0])
print(nama_variable[-1])
print(nama_variable[0:5])
print(nama_variable[1:-1])

<class 'str'>
P
a
Phyto
hyton untuk pemul

In [45]:
a=10
b=20
c=30

if a==b:
    print ('yes')
elif a==c:
    print ('yes')
else:
    print ('no')

no

In [46]:
# Import numpy

import numpy as np

In [48]:
height_list=[row[1] for row in Data]

In [49]:
height_list

[160, 165, 155]

In [50]:
print(type(height_list))

<class 'list'>

In [51]:
height_array=np.array(height_list)

In [52]:
height_array

array([160, 165, 155])

In [53]:
print(type(height_array))

<class 'numpy.ndarray'>

In [54]:
#contoh list
countries = ['spain', 'france', 'germany', 'norway']
capitals = ['madrid', 'paris', 'berlin', 'oslo']

In [55]:
ind_ger=countries.index('germany')

In [58]:
ind_ger

2

In [59]:
print(capitals[ind_ger])

berlin

In [77]:
#contoh dictionary
europe = {'spain':['madrid'], 'france':['paris'], 'germany':['berlin'], 'norway':['oslo']}

In [79]:
type(europe)

dict

In [80]:
print(europe)

{'spain': ['madrid'], 'france': ['paris'], 'germany': ['berlin'], 'norway': ['oslo']}

In [81]:
#dependent variable of europe
print(europe.keys())

dict_keys(['spain', 'france', 'germany', 'norway'])

In [82]:
#independent variable of europe
print(europe.values())

dict_values([['madrid'], ['paris'], ['berlin'], ['oslo']])

In [83]:
print(europe['norway'])

['oslo']

In [68]:
#import pandas
import pandas as pd

In [72]:
#Build dataframe from dictionary 
pd.DataFrame()

Empty DataFrame
Columns: []
Index: []

In [78]:
pd.DataFrame(europe)

  france germany norway   spain
0  paris  berlin   oslo  madrid

In [91]:
pd.read_csv('IMDB-database.csv', encoding='latin1')

,movie_ID,movie_title,duration,color,title_year,country,language,content_rating,budget_USD,gross_USD,...,actor_3_facebook?,actor_3_facebook_likes,cast_total_facebook_likes,movie_facebook?,movie_facebook_likes;,facenumber_in_poster,num_voted_users,num_user_for_reviews,imdb_score,imdb_top_250
0,1,Avatar,178,1,2009,USA,English,PG-13,237000000,760505847,...,1,855,4834,1,33000,0,886204,3054,7.9,0
1,2,Pirates of the Caribbean: At World's End,169,1,2007,USA,English,PG-13,300000000,309404152,...,1,1000,48350,0,0,0,471220,1238,7.1,0
2,3,The Dark Knight Rises,164,1,2012,USA,English,PG-13,250000000,448130642,...,1,23000,106759,1,164000,0,1144337,2701,8.5,1
3,4,Spider-Man 3,156,1,2007,USA,English,PG-13,258000000,336530303,...,1,4000,46055,0,0,0,383056,1902,6.2,0
4,5,Batman v Superman: Dawn of Justice,183,1,2016,USA,English,PG-13,250000000,330249062,...,1,2000,24450,1,197000,0,371639,3018,6.9,0
5,6,Superman Returns,169,1,2006,USA,English,PG-13,209000000,200069408,...,1,903,29991,0,0,0,240396,2367,6.1,0
6,7,Man of Steel,143,1,2013,USA,English,PG-13,225000000,291021565,...,1,748,20495,1,118000,0,548573,2536,7.2,0
7,8,The Hobbit: The Battle of the Five Armies,164,1,2014,New Zealand,English,PG-13,250000000,255108370,...,1,773,9152,1,65000,0,354228,802,7.5,0
8,9,The Amazing Spider-Man,153,1,2012,USA,English,PG-13,230000000,262030663,...,1,963,28489,1,56000,0,451803,1225,7.0,0
9,10,Robin Hood,156,1,2010,USA,English,PG-13,200000000,105219735,...,1,738,3244,1,17000,0,211765,546,6.7,0
10,11,King Kong,201,1,2005,New Zealand,English,PG-13,207000000,218051260,...,1,84,7123,0,0,0,316018,2618,7.2,0
11,12,Titanic,194,1,1997,USA,English,PG-13,200000000,658672302,...,1,794,45223,1,26000,0,793059,2528,7.7,0
12,13,Captain America: Civil War,147,1,2016,USA,English,PG-13,250000000,407197282,...,1,11000,64798,1,72000,0,272670,1022,8.2,1
13,14,Battleship,131,1,2012,USA,English,PG-13,209000000,65173160,...,1,627,26679,1,44000,0,202382,751,5.9,0
14,15,Jurassic World,124,1,2015,USA,English,PG-13,150000000,652177271,...,1,1000,8458,1,150000,0,418214,1290,7.0,0
15,16,Skyfall,143,1,2012,UK,English,PG-13,200000000,304360277,...,1,393,2039,1,80000,0,522030,1498,7.8,0
16,17,Alice in Wonderland,108,1,2010,USA,English,PG,200000000,334185206,...,1,11000,79957,1,24000,0,306320,736,6.5,0
17,18,X-Men: The Last Stand,104,1,2006,Canada,English,PG-13,210000000,234360014,...,1,560,21714,0,0,0,383427,1912,6.8,0
18,19,Monsters University,104,1,2013,USA,English,G,200000000,268488329,...,1,760,14863,1,44000,0,235025,265,7.3,0
19,20,Transformers: Revenge of the Fallen,150,1,2009,USA,English,PG-13,200000000,402076689,...,1,464,3218,0,0,0,323207,1439,6.0,0
20,21,The Amazing Spider-Man 2,142,1,2014,USA,English,PG-13,200000000,202853933,...,1,825,28631,1,41000,0,321227,1067,6.7,0
21,22,TRON: Legacy,125,1,2010,USA,English,PG,170000000,172051787,...,1,1000,25550,1,30000,0,264183,665,6.8,0
22,23,Cars 2,106,1,2011,USA,English,G,200000000,191450875,...,1,776,4482,1,10000,0,101178,283,6.3,0
23,24,Terminator Salvation,118,1,2009,USA,English,PG-13,200000000,125320003,...,1,988,27468,0,0,0,286095,974,6.6,0
24,25,Furious 7,140,1,2015,USA,English,PG-13,190000000,350034110,...,1,14000,79150,1,94000,0,278232,657,7.2,0
25,26,World War Z,123,1,2013,USA,English,PG-13,190000000,202351611,...,1,1000,32392,1,129000,0,465019,995,7.0,0
26,27,Star Trek Into Darkness,132,1,2013,USA,English,PG-13,190000000,228756232,...,1,928,21411,1,92000,0,395573,1171,7.8,0
27,28,Pacific Rim,131,1,2013,USA,English,PG-13,190000000,101785482,...,1,919,19166,1,83000,0,381148,1106,7.0,0
28,29,Brave,93,1,2012,USA,English,PG,185000000,237282182,...,1,838,5005,1,39000,0,273556,428,7.2,0
29,30,WALL-E,98,1,2008,USA,English,G,180000000,223806889,...,1,522,2975,1,16000,0,718837,1043,8.4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3751,3752,Soul Plane,92,1,2004,USA,English,R,16000000,13922211,...,1,618,3935,0,0,9,18271,150,4.4,0
3752,3753,This Christmas,117,1,2007,USA,English,PG-13,13000000,49121934,...,1,912,6554,0,0,9,6528,32,6.1,0
3753,3754,5 Days of War,113,1,2011,Georgia,English,R,20000000,17149,...,1,18,708,0,0,9,12128,61,5.6,0
3754,3755,Sleepover,89,1,2004,USA,English,PG,10000000,8070311,...,1,2000,13626,0,0,9,12706,75,5.3,0
3755,3756,Baggage Claim,96,1,2013,USA,English,PG-13,8500000,21564616,...,1,1000,8097,0,0,9,7098,41,5.0,0
3756,3757,Best in Show,90,1,2000,USA,English,PG-13,6000000,18621249,...,1,658,4611,0,0,9,45859,340,7.5,0
3757,3758,The Players Club,104,1,1998,USA,English,R,4500000,23031390,...,1,498,2868,1,575,9,4345,26,5.6,0
3758,3759,Little Fockers,98,1,2010,USA,English,PG-13,100000000,148383780,...,1,708,24082,0,0,10,85531,152,5.5,0
3759,3760,Delivery Man,105,1,2013,USA,English,PG-13,26000000,30659817,...,1,110,1006,0,0,10,59805,95,6.4,0
3760,3761,My Big Fat Greek Wedding 2,94,1,2016,USA,English,PG-13,18000000,59573085,...,1,261,2259,1,19000,10,13562,103,6.1,0
3761,3762,Top Five,102,1,2014,USA,English,R,12000000,25277561,...,1,555,5592,0,0,10,21672,93,6.5,0
3762,3763,Movie 43,94,1,2013,USA,English,R,6000000,8828771,...,1,3000,41059,1,25000,10,79146,352,4.3,0
3763,3764,Get on the Bus,120,1,1996,USA,English,R,2400000,5731103,...,1,702,5963,1,352,10,4100,35,6.8,0
3764,3765,The Longest Yard,113,1,2005,USA,English,PG-13,82000000,158115031,...,1,421,13693,0,0,11,130070,316,6.4,0
3765,3766,I Heart Huckabees,107,1,2004,USA,English,R,22000000,12784713,...,1,678,8094,0,0,11,56813,381,6.7,0
3766,3767,Epic Movie,93,1,2007,USA,English,PG-13,20000000,39737645,...,1,729,4293,0,0,11,89687,666,2.3,0
3767,3768,One Direction: This Is Us,106,1,2013,USA,English,PG,10000000,28873374,...,1,547,2787,0,0,11,22161,68,4.1,0
3768,3769,God's Not Dead 2,120,1,2016,USA,English,PG,5000000,20773070,...,1,295,1810,0,0,11,4501,102,3.4,0
3769,3770,Valentine's Day,125,1,2010,USA,English,PG-13,52000000,110476776,...,1,11000,45696,1,9000,12,95437,211,5.7,0
3770,3771,What to Expect When You're Expecting,110,1,2012,USA,English,PG-13,40000000,41102171,...,1,651,13396,1,14000,12,57266,89,5.7,0
3771,3772,Taking Woodstock,120,1,2009,USA,English,R,30000000,7443007,...,1,210,1500,0,0,12,24663,71,6.7,0
3772,3773,Love the Coopers,107,1,2015,USA,English,PG-13,17000000,26284475,...,1,85,10691,0,0,13,9051,68,5.7,0
3773,3774,A Bridge Too Far,175,0,1977,USA,English,PG,26000000,50800000,...,1,14,669,0,0,14,40277,210,7.4,0
3774,3775,The Expendables 3,131,1,2014,USA,English,PG-13,90000000,39292022,...,1,11000,52610,1,56000,15,127258,351,6.1,0
3775,3776,Cheaper by the Dozen,94,1,2003,USA,English,PG,40000000,138614544,...,1,597,7014,0,0,15,75152,288,5.8,0
3776,3777,New Year's Eve,113,1,2011,USA,English,PG-13,56000000,54540525,...,1,307,23456,1,20000,15,66579,134,5.7,0
3777,3778,Boogie Nights,155,1,1997,USA,English,R,15000000,26384919,...,1,170,3677,0,0,15,189032,560,7.9,0
3778,3779,Battle of the Year,110,1,2013,USA,English,PG-13,20000000,8888355,...,1,826,3177,0,0,19,7894,25,5.0,0
3779,3780,The Master,144,1,2012,USA,English,R,32000000,16377274,...,1,15,427,1,27000,31,105144,405,7.1,0
3780,3781,500 Days of Summer,95,1,2009,USA,English,PG-13,7500000,32391374,...,1,11000,54075,1,40000,43,376600,494,7.7,0

In [92]:
data_imdb=pd.read_csv('https://raw.githubusercontent.com/scalabretta/GroupProject--IMDB/master/Dataset/IMDB-database.csv', encoding='Latin1')

In [93]:
data_imdb.head()

,movie_ID,movie_title,duration,color,title_year,country,language,content_rating,budget_USD,gross_USD,...,actor_3_facebook?,actor_3_facebook_likes,cast_total_facebook_likes,movie_facebook?,movie_facebook_likes;,facenumber_in_poster,num_voted_users,num_user_for_reviews,imdb_score,imdb_top_250
0,1,Avatar,178,1,2009,USA,English,PG-13,237000000,760505847,...,1,855,4834,1,33000,0,886204,3054,7.9,0
1,2,Pirates of the Caribbean: At World's End,169,1,2007,USA,English,PG-13,300000000,309404152,...,1,1000,48350,0,0,0,471220,1238,7.1,0
2,3,The Dark Knight Rises,164,1,2012,USA,English,PG-13,250000000,448130642,...,1,23000,106759,1,164000,0,1144337,2701,8.5,1
3,4,Spider-Man 3,156,1,2007,USA,English,PG-13,258000000,336530303,...,1,4000,46055,0,0,0,383056,1902,6.2,0
4,5,Batman v Superman: Dawn of Justice,183,1,2016,USA,English,PG-13,250000000,330249062,...,1,2000,24450,1,197000,0,371639,3018,6.9,0

In [97]:
code = ['US', 'AUS', 'JPN', 'IN', 'RUS', 'MOR', 'EG'] 
names = ['United States', 'Australia', 'Japan', 'India', 'Russia','Morocco', 'Egypt'] 
dr = [True, False, False, False, True, True, True] 
cpc = [809, 731, 588, 18, 200, 70, 45]

In [98]:
# Create dictionary my_dict with three key:value pairs: my_dict 
my_dict = {'ctrcode':code, 'country':names, 'drives_right':dr, 'cars_per_cap':cpc}
cars = pd.DataFrame(my_dict)
print(type(cars)) 
print(cars)

<class 'pandas.core.frame.DataFrame'>
   cars_per_cap        country ctrcode  drives_right
0           809  United States      US          True
1           731      Australia     AUS         False
2           588          Japan     JPN         False
3            18          India      IN         False
4           200         Russia     RUS          True
5            70        Morocco     MOR          True
6            45          Egypt      EG          True

In [100]:
# Dimension 
cars.shape 
print(cars.columns) 
print(len(cars.columns)) 
print(len(cars))

Index(['cars_per_cap', 'country', 'ctrcode', 'drives_right'], dtype='object')
4
7

In [102]:
# Brief View 
cars.head(3)

   cars_per_cap        country ctrcode  drives_right
0           809  United States      US          True
1           731      Australia     AUS         False
2           588          Japan     JPN         False

In [103]:
cars.tail(3)

   cars_per_cap  country ctrcode  drives_right
4           200   Russia     RUS          True
5            70  Morocco     MOR          True
6            45    Egypt      EG          True

In [104]:
# Data type 
cars.dtypes

cars_per_cap     int64
country         object
ctrcode         object
drives_right      bool
dtype: object

In [106]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 4 columns):
cars_per_cap    7 non-null int64
country         7 non-null object
ctrcode         7 non-null object
drives_right    7 non-null bool
dtypes: bool(1), int64(1), object(2)
memory usage: 255.0+ bytes

In [107]:
# Summary Statistics 
cars.describe()

       cars_per_cap
count      7.000000
mean     351.571429
std      345.595552
min       18.000000
25%       57.500000
50%      200.000000
75%      659.500000
max      809.000000

In [117]:
# Set DF Column Index  --> movie ID nya jadikan sebagai index
data_imdb_id = data_imdb.set_index("movie_ID") 
data_imdb_id

,movie_title,duration,color,title_year,country,language,content_rating,budget_USD,gross_USD,net_USD,...,actor_3_facebook?,actor_3_facebook_likes,cast_total_facebook_likes,movie_facebook?,movie_facebook_likes;,facenumber_in_poster,num_voted_users,num_user_for_reviews,imdb_score,imdb_top_250
movie_ID,,,,,,,,,,,,,,,,,,,,,
1,Avatar,178,1,2009,USA,English,PG-13,237000000,760505847,523505847,...,1,855,4834,1,33000,0,886204,3054,7.9,0
2,Pirates of the Caribbean: At World's End,169,1,2007,USA,English,PG-13,300000000,309404152,9404152,...,1,1000,48350,0,0,0,471220,1238,7.1,0
3,The Dark Knight Rises,164,1,2012,USA,English,PG-13,250000000,448130642,198130642,...,1,23000,106759,1,164000,0,1144337,2701,8.5,1
4,Spider-Man 3,156,1,2007,USA,English,PG-13,258000000,336530303,78530303,...,1,4000,46055,0,0,0,383056,1902,6.2,0
5,Batman v Superman: Dawn of Justice,183,1,2016,USA,English,PG-13,250000000,330249062,80249062,...,1,2000,24450,1,197000,0,371639,3018,6.9,0
6,Superman Returns,169,1,2006,USA,English,PG-13,209000000,200069408,-8930592,...,1,903,29991,0,0,0,240396,2367,6.1,0
7,Man of Steel,143,1,2013,USA,English,PG-13,225000000,291021565,66021565,...,1,748,20495,1,118000,0,548573,2536,7.2,0
8,The Hobbit: The Battle of the Five Armies,164,1,2014,New Zealand,English,PG-13,250000000,255108370,5108370,...,1,773,9152,1,65000,0,354228,802,7.5,0
9,The Amazing Spider-Man,153,1,2012,USA,English,PG-13,230000000,262030663,32030663,...,1,963,28489,1,56000,0,451803,1225,7.0,0
10,Robin Hood,156,1,2010,USA,English,PG-13,200000000,105219735,-94780265,...,1,738,3244,1,17000,0,211765,546,6.7,0
11,King Kong,201,1,2005,New Zealand,English,PG-13,207000000,218051260,11051260,...,1,84,7123,0,0,0,316018,2618,7.2,0
12,Titanic,194,1,1997,USA,English,PG-13,200000000,658672302,458672302,...,1,794,45223,1,26000,0,793059,2528,7.7,0
13,Captain America: Civil War,147,1,2016,USA,English,PG-13,250000000,407197282,157197282,...,1,11000,64798,1,72000,0,272670,1022,8.2,1
14,Battleship,131,1,2012,USA,English,PG-13,209000000,65173160,-143826840,...,1,627,26679,1,44000,0,202382,751,5.9,0
15,Jurassic World,124,1,2015,USA,English,PG-13,150000000,652177271,502177271,...,1,1000,8458,1,150000,0,418214,1290,7.0,0
16,Skyfall,143,1,2012,UK,English,PG-13,200000000,304360277,104360277,...,1,393,2039,1,80000,0,522030,1498,7.8,0
17,Alice in Wonderland,108,1,2010,USA,English,PG,200000000,334185206,134185206,...,1,11000,79957,1,24000,0,306320,736,6.5,0
18,X-Men: The Last Stand,104,1,2006,Canada,English,PG-13,210000000,234360014,24360014,...,1,560,21714,0,0,0,383427,1912,6.8,0
19,Monsters University,104,1,2013,USA,English,G,200000000,268488329,68488329,...,1,760,14863,1,44000,0,235025,265,7.3,0
20,Transformers: Revenge of the Fallen,150,1,2009,USA,English,PG-13,200000000,402076689,202076689,...,1,464,3218,0,0,0,323207,1439,6.0,0
21,The Amazing Spider-Man 2,142,1,2014,USA,English,PG-13,200000000,202853933,2853933,...,1,825,28631,1,41000,0,321227,1067,6.7,0
22,TRON: Legacy,125,1,2010,USA,English,PG,170000000,172051787,2051787,...,1,1000,25550,1,30000,0,264183,665,6.8,0
23,Cars 2,106,1,2011,USA,English,G,200000000,191450875,-8549125,...,1,776,4482,1,10000,0,101178,283,6.3,0
24,Terminator Salvation,118,1,2009,USA,English,PG-13,200000000,125320003,-74679997,...,1,988,27468,0,0,0,286095,974,6.6,0
25,Furious 7,140,1,2015,USA,English,PG-13,190000000,350034110,160034110,...,1,14000,79150,1,94000,0,278232,657,7.2,0
26,World War Z,123,1,2013,USA,English,PG-13,190000000,202351611,12351611,...,1,1000,32392,1,129000,0,465019,995,7.0,0
27,Star Trek Into Darkness,132,1,2013,USA,English,PG-13,190000000,228756232,38756232,...,1,928,21411,1,92000,0,395573,1171,7.8,0
28,Pacific Rim,131,1,2013,USA,English,PG-13,190000000,101785482,-88214518,...,1,919,19166,1,83000,0,381148,1106,7.0,0
29,Brave,93,1,2012,USA,English,PG,185000000,237282182,52282182,...,1,838,5005,1,39000,0,273556,428,7.2,0
30,WALL-E,98,1,2008,USA,English,G,180000000,223806889,43806889,...,1,522,2975,1,16000,0,718837,1043,8.4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3752,Soul Plane,92,1,2004,USA,English,R,16000000,13922211,-2077789,...,1,618,3935,0,0,9,18271,150,4.4,0
3753,This Christmas,117,1,2007,USA,English,PG-13,13000000,49121934,36121934,...,1,912,6554,0,0,9,6528,32,6.1,0
3754,5 Days of War,113,1,2011,Georgia,English,R,20000000,17149,-19982851,...,1,18,708,0,0,9,12128,61,5.6,0
3755,Sleepover,89,1,2004,USA,English,PG,10000000,8070311,-1929689,...,1,2000,13626,0,0,9,12706,75,5.3,0
3756,Baggage Claim,96,1,2013,USA,English,PG-13,8500000,21564616,13064616,...,1,1000,8097,0,0,9,7098,41,5.0,0
3757,Best in Show,90,1,2000,USA,English,PG-13,6000000,18621249,12621249,...,1,658,4611,0,0,9,45859,340,7.5,0
3758,The Players Club,104,1,1998,USA,English,R,4500000,23031390,18531390,...,1,498,2868,1,575,9,4345,26,5.6,0
3759,Little Fockers,98,1,2010,USA,English,PG-13,100000000,148383780,48383780,...,1,708,24082,0,0,10,85531,152,5.5,0
3760,Delivery Man,105,1,2013,USA,English,PG-13,26000000,30659817,4659817,...,1,110,1006,0,0,10,59805,95,6.4,0
3761,My Big Fat Greek Wedding 2,94,1,2016,USA,English,PG-13,18000000,59573085,41573085,...,1,261,2259,1,19000,10,13562,103,6.1,0
3762,Top Five,102,1,2014,USA,English,R,12000000,25277561,13277561,...,1,555,5592,0,0,10,21672,93,6.5,0
3763,Movie 43,94,1,2013,USA,English,R,6000000,8828771,2828771,...,1,3000,41059,1,25000,10,79146,352,4.3,0
3764,Get on the Bus,120,1,1996,USA,English,R,2400000,5731103,3331103,...,1,702,5963,1,352,10,4100,35,6.8,0
3765,The Longest Yard,113,1,2005,USA,English,PG-13,82000000,158115031,76115031,...,1,421,13693,0,0,11,130070,316,6.4,0
3766,I Heart Huckabees,107,1,2004,USA,English,R,22000000,12784713,-9215287,...,1,678,8094,0,0,11,56813,381,6.7,0
3767,Epic Movie,93,1,2007,USA,English,PG-13,20000000,39737645,19737645,...,1,729,4293,0,0,11,89687,666,2.3,0
3768,One Direction: This Is Us,106,1,2013,USA,English,PG,10000000,28873374,18873374,...,1,547,2787,0,0,11,22161,68,4.1,0
3769,God's Not Dead 2,120,1,2016,USA,English,PG,5000000,20773070,15773070,...,1,295,1810,0,0,11,4501,102,3.4,0
3770,Valentine's Day,125,1,2010,USA,English,PG-13,52000000,110476776,58476776,...,1,11000,45696,1,9000,12,95437,211,5.7,0
3771,What to Expect When You're Expecting,110,1,2012,USA,English,PG-13,40000000,41102171,1102171,...,1,651,13396,1,14000,12,57266,89,5.7,0
3772,Taking Woodstock,120,1,2009,USA,English,R,30000000,7443007,-22556993,...,1,210,1500,0,0,12,24663,71,6.7,0
3773,Love the Coopers,107,1,2015,USA,English,PG-13,17000000,26284475,9284475,...,1,85,10691,0,0,13,9051,68,5.7,0
3774,A Bridge Too Far,175,0,1977,USA,English,PG,26000000,50800000,24800000,...,1,14,669,0,0,14,40277,210,7.4,0
3775,The Expendables 3,131,1,2014,USA,English,PG-13,90000000,39292022,-50707978,...,1,11000,52610,1,56000,15,127258,351,6.1,0
3776,Cheaper by the Dozen,94,1,2003,USA,English,PG,40000000,138614544,98614544,...,1,597,7014,0,0,15,75152,288,5.8,0
3777,New Year's Eve,113,1,2011,USA,English,PG-13,56000000,54540525,-1459475,...,1,307,23456,1,20000,15,66579,134,5.7,0
3778,Boogie Nights,155,1,1997,USA,English,R,15000000,26384919,11384919,...,1,170,3677,0,0,15,189032,560,7.9,0
3779,Battle of the Year,110,1,2013,USA,English,PG-13,20000000,8888355,-11111645,...,1,826,3177,0,0,19,7894,25,5.0,0
3780,The Master,144,1,2012,USA,English,R,32000000,16377274,-15622726,...,1,15,427,1,27000,31,105144,405,7.1,0
3781,500 Days of Summer,95,1,2009,USA,English,PG-13,7500000,32391374,24891374,...,1,11000,54075,1,40000,43,376600,494,7.7,0

In [109]:
print(cars_id.shape)

(7, 3)

In [111]:
cars_id

         cars_per_cap        country  drives_right
ctrcode
US                809  United States          True
AUS               731      Australia         False
JPN               588          Japan         False
IN                 18          India         False
RUS               200         Russia          True
MOR                70        Morocco          True
EG                 45          Egypt          True

In [118]:
#indexing and selecting data 

#column access :
cars_id['country']

ctrcode
US     United States
AUS        Australia
JPN            Japan
IN             India
RUS           Russia
MOR          Morocco
EG             Egypt
Name: country, dtype: object

In [119]:
cars_id[['country']]

               country
ctrcode
US       United States
AUS          Australia
JPN              Japan
IN               India
RUS             Russia
MOR            Morocco
EG               Egypt

In [120]:
#row access
cars_id[0:3]

         cars_per_cap        country  drives_right
ctrcode
US                809  United States          True
AUS               731      Australia         False
JPN               588          Japan         False

In [122]:
#LOC (label based)
# row access 

cars_id.loc[['AUS', 'EG']]

         cars_per_cap    country  drives_right
ctrcode
AUS               731  Australia         False
EG                 45      Egypt          True

In [123]:
#Row & Column access : 
cars_id.loc[['RUS', 'MOR'], ['country', 'drives_right']]

         country  drives_right
ctrcode
RUS       Russia          True
MOR      Morocco          True

In [124]:
#iLOC (integer index based) 
#Row access : 
cars_id.iloc[[1, 6]]

         cars_per_cap    country  drives_right
ctrcode
AUS               731  Australia         False
EG                 45      Egypt          True

In [125]:
#Row & Column access : 
cars_id.iloc[[4,5], [1,2]]

         country  drives_right
ctrcode
RUS       Russia          True
MOR      Morocco          True

In [140]:
#Where Clause and Sort

#WHERE yang hanya mengendarai di kanan

print(cars_id[cars_id.drives_right == True])

         cars_per_cap        country  drives_right
ctrcode
US                809  United States          True
RUS               200         Russia          True
MOR                70        Morocco          True
EG                 45          Egypt          True

In [141]:
#WHERE cars per cap > 100 and id country Australia
print(cars_id[(cars_id.cars_per_cap > 100) & (cars_id.country == "Australia") ])

         cars_per_cap    country  drives_right
ctrcode
AUS               731  Australia         False

In [143]:
#SORT
#sorting by cars per cap
cars_id.sort_values(by=['cars_per_cap'])

         cars_per_cap        country  drives_right
ctrcode
IN                 18          India         False
EG                 45          Egypt          True
MOR                70        Morocco          True
RUS               200         Russia          True
JPN               588          Japan         False
AUS               731      Australia         False
US                809  United States          True

In [144]:
#SORT untuk descending
cars_id.sort_values(by=['cars_per_cap'], ascending=False)

         cars_per_cap        country  drives_right
ctrcode
US                809  United States          True
AUS               731      Australia         False
JPN               588          Japan         False
RUS               200         Russia          True
MOR                70        Morocco          True
EG                 45          Egypt          True
IN                 18          India         False

In [128]:
dataupdate_imdb=pd.read_csv('https://raw.githubusercontent.com/scalabretta/GroupProject--IMDB/master/Dataset/IMDB-database-update.csv', encoding='Latin1')
dataupdate_imdb.head()

,movie_ID,movie_title,duration,color,title_year,country,language,content_rating,budget_USD,gross_USD,...,actor_3_facebook?,actor_3_facebook_likes,cast_total_facebook_likes,movie_facebook?,movie_facebook_likes;,facenumber_in_poster,num_voted_users,num_user_for_reviews,imdb_score,imdb_top_250
0,1,Avatar,178,1,2009,USA,English,PG-13,237000000,760505847,...,1,855,4834,1,33000,0,886204,3054,7.9,0
1,2,Pirates of the Caribbean: At World's End,169,1,2007,USA,English,PG-13,300000000,309404152,...,1,1000,48350,0,0,0,471220,1238,7.1,0
2,3,The Dark Knight Rises,164,1,2012,USA,English,PG-13,250000000,448130642,...,1,23000,106759,1,164000,0,1144337,2701,8.5,1
3,4,Spider-Man 3,156,1,2007,USA,English,PG-13,258000000,336530303,...,1,4000,46055,0,0,0,383056,1902,6.2,0
4,5,Batman v Superman: Dawn of Justice,183,1,2016,USA,English,PG-13,250000000,330249062,...,1,2000,24450,1,197000,0,371639,3018,6.9,0

In [131]:
#How many rows and columns reflected on dataset file IMDB-database-update.csv?

dataupdate_imdb.shape

(3781, 36)

In [132]:
dataupdate_imdb.head(3)

,movie_ID,movie_title,duration,color,title_year,country,language,content_rating,budget_USD,gross_USD,...,actor_3_facebook?,actor_3_facebook_likes,cast_total_facebook_likes,movie_facebook?,movie_facebook_likes;,facenumber_in_poster,num_voted_users,num_user_for_reviews,imdb_score,imdb_top_250
0,1,Avatar,178,1,2009,USA,English,PG-13,237000000,760505847,...,1,855,4834,1,33000,0,886204,3054,7.9,0
1,2,Pirates of the Caribbean: At World's End,169,1,2007,USA,English,PG-13,300000000,309404152,...,1,1000,48350,0,0,0,471220,1238,7.1,0
2,3,The Dark Knight Rises,164,1,2012,USA,English,PG-13,250000000,448130642,...,1,23000,106759,1,164000,0,1144337,2701,8.5,1

In [137]:
# Example 
dataupdate_imdb[["movie_facebook?"]] = dataupdate_imdb[["movie_facebook?"]].astype('str')

In [138]:
#Missing data

dataupdate_imdb.isnull().sum()

movie_ID                     0
movie_title                  0
duration                     0
color                        0
title_year                   0
country                      0
language                     0
content_rating               0
budget_USD                   0
gross_USD                    0
net_USD                      0
profitable                   0
director_name                0
director_top20?              0
director_facebook?           0
director_facebook_likes      0
actor_1_name                 0
actor_top20?                 0
actor_1_facebook?            0
actor_1_facebook_likes       0
actor_2_name                 0
actor_top20?.1               0
actor_2_facebook?            0
actor_2_facebook_likes       0
actor_3_name                 0
actor_top20?.2               0
actor_3_facebook?            0
actor_3_facebook_likes       0
cast_total_facebook_likes    0
movie_facebook?              0
movie_facebook_likes;        0
facenumber_in_poster         0
num_voted_users              0
num_user_for_reviews         0
imdb_score                   0
imdb_top_250                 0
dtype: int64

In [145]:
#Drop missing data to handle missing data

dataupdate_imdb = dataupdate_imdb.drop_duplicates()

In [148]:
dataupdate_imdb

,movie_ID,movie_title,duration,color,title_year,country,language,content_rating,budget_USD,gross_USD,...,actor_3_facebook?,actor_3_facebook_likes,cast_total_facebook_likes,movie_facebook?,movie_facebook_likes;,facenumber_in_poster,num_voted_users,num_user_for_reviews,imdb_score,imdb_top_250
0,1,Avatar,178,1,2009,USA,English,PG-13,237000000,760505847,...,1,855,4834,1,33000,0,886204,3054,7.9,0
1,2,Pirates of the Caribbean: At World's End,169,1,2007,USA,English,PG-13,300000000,309404152,...,1,1000,48350,0,0,0,471220,1238,7.1,0
2,3,The Dark Knight Rises,164,1,2012,USA,English,PG-13,250000000,448130642,...,1,23000,106759,1,164000,0,1144337,2701,8.5,1
3,4,Spider-Man 3,156,1,2007,USA,English,PG-13,258000000,336530303,...,1,4000,46055,0,0,0,383056,1902,6.2,0
4,5,Batman v Superman: Dawn of Justice,183,1,2016,USA,English,PG-13,250000000,330249062,...,1,2000,24450,1,197000,0,371639,3018,6.9,0
5,6,Superman Returns,169,1,2006,USA,English,PG-13,209000000,200069408,...,1,903,29991,0,0,0,240396,2367,6.1,0
6,7,Man of Steel,143,1,2013,USA,English,PG-13,225000000,291021565,...,1,748,20495,1,118000,0,548573,2536,7.2,0
7,8,The Hobbit: The Battle of the Five Armies,164,1,2014,New Zealand,English,PG-13,250000000,255108370,...,1,773,9152,1,65000,0,354228,802,7.5,0
8,9,The Amazing Spider-Man,153,1,2012,USA,English,PG-13,230000000,262030663,...,1,963,28489,1,56000,0,451803,1225,7.0,0
9,10,Robin Hood,156,1,2010,USA,English,PG-13,200000000,105219735,...,1,738,3244,1,17000,0,211765,546,6.7,0
10,11,King Kong,201,1,2005,New Zealand,English,PG-13,207000000,218051260,...,1,84,7123,0,0,0,316018,2618,7.2,0
11,12,Titanic,194,1,1997,USA,English,PG-13,200000000,658672302,...,1,794,45223,1,26000,0,793059,2528,7.7,0
12,13,Captain America: Civil War,147,1,2016,USA,English,PG-13,250000000,407197282,...,1,11000,64798,1,72000,0,272670,1022,8.2,1
13,14,Battleship,131,1,2012,USA,English,PG-13,209000000,65173160,...,1,627,26679,1,44000,0,202382,751,5.9,0
14,15,Jurassic World,124,1,2015,USA,English,PG-13,150000000,652177271,...,1,1000,8458,1,150000,0,418214,1290,7.0,0
15,16,Skyfall,143,1,2012,UK,English,PG-13,200000000,304360277,...,1,393,2039,1,80000,0,522030,1498,7.8,0
16,17,Alice in Wonderland,108,1,2010,USA,English,PG,200000000,334185206,...,1,11000,79957,1,24000,0,306320,736,6.5,0
17,18,X-Men: The Last Stand,104,1,2006,Canada,English,PG-13,210000000,234360014,...,1,560,21714,0,0,0,383427,1912,6.8,0
18,19,Monsters University,104,1,2013,USA,English,G,200000000,268488329,...,1,760,14863,1,44000,0,235025,265,7.3,0
19,20,Transformers: Revenge of the Fallen,150,1,2009,USA,English,PG-13,200000000,402076689,...,1,464,3218,0,0,0,323207,1439,6.0,0
20,21,The Amazing Spider-Man 2,142,1,2014,USA,English,PG-13,200000000,202853933,...,1,825,28631,1,41000,0,321227,1067,6.7,0
21,22,TRON: Legacy,125,1,2010,USA,English,PG,170000000,172051787,...,1,1000,25550,1,30000,0,264183,665,6.8,0
22,23,Cars 2,106,1,2011,USA,English,G,200000000,191450875,...,1,776,4482,1,10000,0,101178,283,6.3,0
23,24,Terminator Salvation,118,1,2009,USA,English,PG-13,200000000,125320003,...,1,988,27468,0,0,0,286095,974,6.6,0
24,25,Furious 7,140,1,2015,USA,English,PG-13,190000000,350034110,...,1,14000,79150,1,94000,0,278232,657,7.2,0
25,26,World War Z,123,1,2013,USA,English,PG-13,190000000,202351611,...,1,1000,32392,1,129000,0,465019,995,7.0,0
26,27,Star Trek Into Darkness,132,1,2013,USA,English,PG-13,190000000,228756232,...,1,928,21411,1,92000,0,395573,1171,7.8,0
27,28,Pacific Rim,131,1,2013,USA,English,PG-13,190000000,101785482,...,1,919,19166,1,83000,0,381148,1106,7.0,0
28,29,Brave,93,1,2012,USA,English,PG,185000000,237282182,...,1,838,5005,1,39000,0,273556,428,7.2,0
29,30,WALL-E,98,1,2008,USA,English,G,180000000,223806889,...,1,522,2975,1,16000,0,718837,1043,8.4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3751,3752,Soul Plane,92,1,2004,USA,English,R,16000000,13922211,...,1,618,3935,0,0,9,18271,150,4.4,0
3752,3753,This Christmas,117,1,2007,USA,English,PG-13,13000000,49121934,...,1,912,6554,0,0,9,6528,32,6.1,0
3753,3754,5 Days of War,113,1,2011,Georgia,English,R,20000000,17149,...,1,18,708,0,0,9,12128,61,5.6,0
3754,3755,Sleepover,89,1,2004,USA,English,PG,10000000,8070311,...,1,2000,13626,0,0,9,12706,75,5.3,0
3755,3756,Baggage Claim,96,1,2013,USA,English,PG-13,8500000,21564616,...,1,1000,8097,0,0,9,7098,41,5.0,0
3756,3757,Best in Show,90,1,2000,USA,English,PG-13,6000000,18621249,...,1,658,4611,0,0,9,45859,340,7.5,0
3757,3758,The Players Club,104,1,1998,USA,English,R,4500000,23031390,...,1,498,2868,1,575,9,4345,26,5.6,0
3758,3759,Little Fockers,98,1,2010,USA,English,PG-13,100000000,148383780,...,1,708,24082,0,0,10,85531,152,5.5,0
3759,3760,Delivery Man,105,1,2013,USA,English,PG-13,26000000,30659817,...,1,110,1006,0,0,10,59805,95,6.4,0
3760,3761,My Big Fat Greek Wedding 2,94,1,2016,USA,English,PG-13,18000000,59573085,...,1,261,2259,1,19000,10,13562,103,6.1,0
3761,3762,Top Five,102,1,2014,USA,English,R,12000000,25277561,...,1,555,5592,0,0,10,21672,93,6.5,0
3762,3763,Movie 43,94,1,2013,USA,English,R,6000000,8828771,...,1,3000,41059,1,25000,10,79146,352,4.3,0
3763,3764,Get on the Bus,120,1,1996,USA,English,R,2400000,5731103,...,1,702,5963,1,352,10,4100,35,6.8,0
3764,3765,The Longest Yard,113,1,2005,USA,English,PG-13,82000000,158115031,...,1,421,13693,0,0,11,130070,316,6.4,0
3765,3766,I Heart Huckabees,107,1,2004,USA,English,R,22000000,12784713,...,1,678,8094,0,0,11,56813,381,6.7,0
3766,3767,Epic Movie,93,1,2007,USA,English,PG-13,20000000,39737645,...,1,729,4293,0,0,11,89687,666,2.3,0
3767,3768,One Direction: This Is Us,106,1,2013,USA,English,PG,10000000,28873374,...,1,547,2787,0,0,11,22161,68,4.1,0
3768,3769,God's Not Dead 2,120,1,2016,USA,English,PG,5000000,20773070,...,1,295,1810,0,0,11,4501,102,3.4,0
3769,3770,Valentine's Day,125,1,2010,USA,English,PG-13,52000000,110476776,...,1,11000,45696,1,9000,12,95437,211,5.7,0
3770,3771,What to Expect When You're Expecting,110,1,2012,USA,English,PG-13,40000000,41102171,...,1,651,13396,1,14000,12,57266,89,5.7,0
3771,3772,Taking Woodstock,120,1,2009,USA,English,R,30000000,7443007,...,1,210,1500,0,0,12,24663,71,6.7,0
3772,3773,Love the Coopers,107,1,2015,USA,English,PG-13,17000000,26284475,...,1,85,10691,0,0,13,9051,68,5.7,0
3773,3774,A Bridge Too Far,175,0,1977,USA,English,PG,26000000,50800000,...,1,14,669,0,0,14,40277,210,7.4,0
3774,3775,The Expendables 3,131,1,2014,USA,English,PG-13,90000000,39292022,...,1,11000,52610,1,56000,15,127258,351,6.1,0
3775,3776,Cheaper by the Dozen,94,1,2003,USA,English,PG,40000000,138614544,...,1,597,7014,0,0,15,75152,288,5.8,0
3776,3777,New Year's Eve,113,1,2011,USA,English,PG-13,56000000,54540525,...,1,307,23456,1,20000,15,66579,134,5.7,0
3777,3778,Boogie Nights,155,1,1997,USA,English,R,15000000,26384919,...,1,170,3677,0,0,15,189032,560,7.9,0
3778,3779,Battle of the Year,110,1,2013,USA,English,PG-13,20000000,8888355,...,1,826,3177,0,0,19,7894,25,5.0,0
3779,3780,The Master,144,1,2012,USA,English,R,32000000,16377274,...,1,15,427,1,27000,31,105144,405,7.1,0
3780,3781,500 Days of Summer,95,1,2009,USA,English,PG-13,7500000,32391374,...,1,11000,54075,1,40000,43,376600,494,7.7,0

In [149]:
# Get Started with your data
#  Find summary statistics 
# Find which variables has high correlation to imdb_score

#Example for duration and gross_USD 
dataupdate_imdb[["duration", "gross_USD"]].describe()

          duration     gross_USD
count  3781.000000  3.781000e+03
mean    109.950278  5.182002e+07
std      22.299267  7.003776e+07
min      37.000000  1.620000e+02
25%      95.000000  7.605668e+06
50%     106.000000  2.896520e+07
75%     120.000000  6.600997e+07
max     325.000000  7.605058e+08

In [151]:
# Categoric variables 
# Find count of each category-level

# Example 
dataupdate_imdb["color"].value_counts()

1    3657
0     124
Name: color, dtype: int64

In [152]:
#menghitung content rating 
dataupdate_imdb["content_rating"].value_counts()

R            1715
PG-13        1311
PG            568
G              88
Not Rated      39
Unrated        24
Approved       14
X              10
NC-17           6
Passed          3
M               2
GP              1
Name: content_rating, dtype: int64

In [ ]:
# High Rating movies criteria 
# Clue 
    # Let’s set imdb_score benchmark as High-Rating movie with imdb_score > 7.5
    # Create new variables “score_group” (“High” if imdb_score > 7.5 and “Low” if imdb <= 7.5)
    # Analyze at least 5 variables from which you can start figure out criteria of high rated movie
    # If there’s still extra time, analyze 5 more variables to strengthen criteria of high rated movies

In [160]:
dataupdate_imdb[dataupdate_imdb.imdb_score>7.5]

,movie_ID,movie_title,duration,color,title_year,country,language,content_rating,budget_USD,gross_USD,...,actor_3_facebook?,actor_3_facebook_likes,cast_total_facebook_likes,movie_facebook?,movie_facebook_likes;,facenumber_in_poster,num_voted_users,num_user_for_reviews,imdb_score,imdb_top_250
0,1,Avatar,178,1,2009,USA,English,PG-13,237000000,760505847,...,1,855,4834,1,33000,0,886204,3054,7.9,0
2,3,The Dark Knight Rises,164,1,2012,USA,English,PG-13,250000000,448130642,...,1,23000,106759,1,164000,0,1144337,2701,8.5,1
11,12,Titanic,194,1,1997,USA,English,PG-13,200000000,658672302,...,1,794,45223,1,26000,0,793059,2528,7.7,0
12,13,Captain America: Civil War,147,1,2016,USA,English,PG-13,250000000,407197282,...,1,11000,64798,1,72000,0,272670,1022,8.2,1
15,16,Skyfall,143,1,2012,UK,English,PG-13,200000000,304360277,...,1,393,2039,1,80000,0,522030,1498,7.8,0
26,27,Star Trek Into Darkness,132,1,2013,USA,English,PG-13,190000000,228756232,...,1,928,21411,1,92000,0,395573,1171,7.8,0
29,30,WALL-E,98,1,2008,USA,English,G,180000000,223806889,...,1,522,2975,1,16000,0,718837,1043,8.4,1
32,33,The Dark Knight,152,1,2008,USA,English,PG-13,185000000,533316061,...,1,11000,57802,1,37000,0,1676169,4667,9.0,1
36,37,The Jungle Book,106,1,2016,UK,English,PG,175000000,362645141,...,1,591,32921,1,65000,0,106072,398,7.8,0
38,39,Dawn of the Planet of the Apes,130,1,2014,USA,English,PG-13,170000000,208543795,...,1,884,14363,1,45000,0,317542,620,7.6,0
39,40,Big Hero 6,102,1,2014,USA,English,PG,165000000,222487711,...,1,562,2963,1,41000,0,279093,433,7.9,0
42,43,How to Train Your Dragon,98,1,2010,USA,English,PG,165000000,217387997,...,1,759,20453,1,33000,0,485430,492,8.2,1
44,45,Inception,148,1,2010,USA,English,PG-13,160000000,292568851,...,1,23000,81115,1,175000,0,1468200,2803,8.8,1
52,53,Ratatouille,111,1,2007,USA,English,G,150000000,206435493,...,1,954,4764,1,10000,0,473887,626,8.0,0
53,54,Batman Begins,128,1,2005,USA,English,PG-13,150000000,205343774,...,1,11000,59558,1,15000,0,980946,2685,8.3,1
57,58,Frozen,102,1,2013,USA,English,PG,150000000,400736600,...,1,490,2582,1,58000,0,421658,904,7.6,0
59,60,Mad Max: Fury Road,120,1,2015,Australia,English,R,150000000,153629485,...,1,943,40025,1,191000,0,552503,1588,8.1,1
77,78,Star Trek,127,1,2009,USA,English,PG-13,150000000,257704099,...,1,981,39284,1,19000,0,504419,1559,8.0,0
85,86,The Revenant,156,1,2015,USA,English,R,135000000,183635922,...,1,733,57108,1,190000,0,406020,1188,8.1,1
89,90,The Bourne Ultimatum,115,1,2007,USA,English,PG-13,110000000,227137090,...,1,883,17369,0,0,0,491077,820,8.1,1
90,91,Kung Fu Panda,92,1,2008,USA,English,PG,130000000,215395021,...,1,562,12754,1,6000,0,307029,360,7.6,0
104,105,Life of Pi,127,1,2012,USA,English,PG,120000000,124976634,...,1,341,2121,1,122000,0,440084,755,8.0,0
117,118,Gravity,91,1,2013,UK,English,PG-13,100000000,274084951,...,1,13,87,1,147000,0,582917,1885,7.8,0
130,131,Gladiator,171,1,2000,USA,English,R,103000000,187670866,...,1,695,6521,1,21000,0,982637,2368,8.5,1
131,132,Minority Report,145,1,2002,USA,English,PG-13,102000000,132014112,...,1,533,12546,0,0,0,399651,1331,7.7,0
133,134,Terminator 2: Judgment Day,153,1,1991,USA,English,R,102000000,204843350,...,1,539,2829,1,13000,0,744891,983,8.5,1
134,135,American Gangster,176,1,2007,USA,English,R,100000000,130127620,...,1,561,20354,0,0,0,324671,458,7.8,0
142,143,Blood Diamond,143,1,2006,Germany,English,R,100000000,57366262,...,1,452,33160,1,14000,0,400292,657,8.0,0
152,153,Black Hawk Down,152,1,2001,USA,English,R,92000000,108638745,...,1,557,4270,1,10000,0,292022,1103,7.7,0
155,156,Finding Nemo,100,1,2003,USA,English,G,94000000,380838870,...,1,799,5641,1,11000,0,692482,866,8.2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3372,3373,Beyond the Mat,108,1,1999,USA,English,R,500000,2047570,...,1,43,194,1,491,3,6790,80,7.6,0
3399,3400,Star Wars: Episode III - Revenge of the Sith,140,1,2005,USA,English,PG-13,113000000,380262555,...,1,4000,44042,1,10000,4,520104,3286,7.6,0
3405,3406,Ocean's Eleven,116,1,2001,USA,English,PG-13,85000000,183405771,...,1,471,13028,0,0,4,402645,845,7.8,0
3408,3409,Fury,134,1,2014,USA,English,R,68000000,85707116,...,1,697,20411,1,82000,4,303185,701,7.6,0
3429,3430,Hero,80,0,2002,China,Mandarin,PG-13,31000000,84961,...,1,576,6229,0,0,4,149414,841,7.9,0
3448,3449,The Big Short,130,1,2015,USA,English,R,28000000,70235322,...,1,767,57308,1,99000,4,182983,374,7.8,0
3465,3466,Zombieland,88,1,2009,USA,English,R,23600000,75590286,...,1,11,28011,1,26000,4,386217,553,7.7,0
3481,3482,Hero,80,0,2002,China,Mandarin,PG-13,31000000,84961,...,1,576,6229,0,0,4,149414,841,7.9,0
3523,3524,The Usual Suspects,106,1,1995,USA,English,R,6000000,23272306,...,1,574,20821,1,28000,4,740918,1182,8.6,1
3539,3540,Trainspotting,94,1,1996,UK,English,R,3500000,16501785,...,1,557,3559,1,21000,4,469561,514,8.2,1
3550,3551,Clerks,102,0,1994,USA,English,R,230000,3151130,...,1,216,2103,0,0,4,181749,615,7.8,0
3551,3552,How to Train Your Dragon 2,102,1,2014,USA,English,PG,145000000,176997107,...,1,953,23378,1,46000,5,221128,343,7.9,0
3565,3566,Indiana Jones and the Last Crusade,127,1,1989,USA,English,PG-13,48000000,197171806,...,1,440,12884,0,0,5,515306,477,8.3,1
3621,3622,The Best Years of Our Lives,172,0,1946,USA,English,Not Rated,2100000,23650000,...,1,188,1941,0,0,5,40359,235,8.1,1
3624,3625,Smiling Fish & Goat on Fire,90,1,1999,USA,English,R,40000,277233,...,1,113,20814,0,0,5,2631,26,7.6,0
3625,3626,The Hobbit: The Desolation of Smaug,186,1,2013,USA,English,PG-13,225000000,258355354,...,1,773,9152,1,83000,6,483540,951,7.9,0
3658,3659,Snatch,104,1,2000,UK,English,R,6000000,30093107,...,1,1000,39175,1,27000,6,600996,726,8.3,1
3660,3661,Snatch,104,1,2000,UK,English,R,6000000,30093107,...,1,1000,39175,1,27000,6,600996,726,8.3,1
3672,3673,Shaun of the Dead,99,1,2004,UK,English,R,4000000,13464388,...,1,358,1686,1,19000,6,395921,859,8.0,0
3676,3677,Animal House,109,1,1978,USA,English,R,3000000,141600000,...,1,559,3468,0,0,6,90177,257,7.6,0
3680,3681,Seven Samurai,202,0,1954,Japan,Japanese,Unrated,2000000,269061,...,1,4,338,1,11000,6,229012,596,8.7,1
3682,3683,X-Men: Days of Future Past,149,1,2014,USA,English,PG-13,200000000,233914986,...,1,20000,91434,1,82000,7,514125,752,8.0,0
3696,3697,The Town,150,1,2010,USA,English,R,37000000,92173235,...,1,206,14296,1,29000,7,280228,420,7.6,0
3715,3716,Stardust,127,1,2007,UK,English,PG-13,70000000,38345403,...,1,271,16034,1,15000,8,212085,492,7.7,0
3723,3724,Once Upon a Time in America,251,1,1984,Italy,English,R,30000000,5300000,...,1,642,24719,1,12000,8,221000,495,8.4,1
3730,3731,Birdman or (The Unexpected Virtue of Ignorance),119,1,2014,USA,English,R,18000000,42335698,...,1,529,21668,1,114000,8,395087,1101,7.8,0
3732,3733,Lawrence of Arabia,227,1,1962,UK,English,PG,15000000,6000000,...,1,87,1076,1,11000,8,192775,559,8.4,1
3747,3748,Love Actually,129,1,2003,UK,English,R,45000000,59365105,...,1,548,28886,1,52000,9,318634,1004,7.7,0
3777,3778,Boogie Nights,155,1,1997,USA,English,R,15000000,26384919,...,1,170,3677,0,0,15,189032,560,7.9,0
3780,3781,500 Days of Summer,95,1,2009,USA,English,PG-13,7500000,32391374,...,1,11000,54075,1,40000,43,376600,494,7.7,0

In [163]:
# Create new variables “score_group” (“High” if imdb_score > 7.5 and “Low” if imdb <= 7.5)

def score (imdb_score) : 
    if imdb_score>7.5:
        return("High")
    else:
        return("Low")

list(map(score, dataupdate_imdb.imdb_score))

dataupdate_imdb['score_group']=list(map(score, dataupdate_imdb.imdb_score))

In [171]:
dataupdate_imdb.columns

Index(['movie_ID', 'movie_title', 'duration', 'color', 'title_year', 'country',
       'language', 'content_rating', 'budget_USD', 'gross_USD', 'net_USD',
       'profitable', 'director_name', 'director_top20?', 'director_facebook?',
       'director_facebook_likes', 'actor_1_name', 'actor_top20?',
       'actor_1_facebook?', 'actor_1_facebook_likes', 'actor_2_name',
       'actor_top20?.1', 'actor_2_facebook?', 'actor_2_facebook_likes',
       'actor_3_name', 'actor_top20?.2', 'actor_3_facebook?',
       'actor_3_facebook_likes', 'cast_total_facebook_likes',
       'movie_facebook?', 'movie_facebook_likes;', 'facenumber_in_poster',
       'num_voted_users', 'num_user_for_reviews', 'imdb_score', 'imdb_top_250',
       'score_group'],
      dtype='object')

# Individual Assignment

In [200]:
dataupdate_imdb=pd.read_csv('https://raw.githubusercontent.com/scalabretta/GroupProject--IMDB/master/Dataset/IMDB-database-update.csv', encoding='Latin1')
dataupdate_imdb.head()

,movie_ID,movie_title,duration,color,title_year,country,language,content_rating,budget_USD,gross_USD,...,actor_3_facebook?,actor_3_facebook_likes,cast_total_facebook_likes,movie_facebook?,movie_facebook_likes;,facenumber_in_poster,num_voted_users,num_user_for_reviews,imdb_score,imdb_top_250
0,1,Avatar,178,1,2009,USA,English,PG-13,237000000,760505847,...,1,855,4834,1,33000,0,886204,3054,7.9,0
1,2,Pirates of the Caribbean: At World's End,169,1,2007,USA,English,PG-13,300000000,309404152,...,1,1000,48350,0,0,0,471220,1238,7.1,0
2,3,The Dark Knight Rises,164,1,2012,USA,English,PG-13,250000000,448130642,...,1,23000,106759,1,164000,0,1144337,2701,8.5,1
3,4,Spider-Man 3,156,1,2007,USA,English,PG-13,258000000,336530303,...,1,4000,46055,0,0,0,383056,1902,6.2,0
4,5,Batman v Superman: Dawn of Justice,183,1,2016,USA,English,PG-13,250000000,330249062,...,1,2000,24450,1,197000,0,371639,3018,6.9,0

In [201]:
# How many rows and columns reflected on dataset file IMDB-database-update.csv

dataupdate_imdb.shape

(3781, 36)

In [202]:
dataupdate_imdb[dataupdate_imdb.title_year==2013].sort_values(by=['net_USD'],ascending=False).head(3)

,movie_ID,movie_title,duration,color,title_year,country,language,content_rating,budget_USD,gross_USD,...,actor_3_facebook?,actor_3_facebook_likes,cast_total_facebook_likes,movie_facebook?,movie_facebook_likes;,facenumber_in_poster,num_voted_users,num_user_for_reviews,imdb_score,imdb_top_250
1614,1615,The Hunger Games: Catching Fire,146,1,2013,USA,English,PG-13,130000000,424645577,...,1,523,49355,1,82000,1,498397,706,7.6,0
236,237,Despicable Me 2,98,1,2013,USA,English,PG,76000000,368049635,...,1,1000,11905,1,56000,0,286877,284,7.5,0
57,58,Frozen,102,1,2013,USA,English,PG,150000000,400736600,...,1,490,2582,1,58000,0,421658,904,7.6,0

In [203]:
dataupdate_imdb[dataupdate_imdb.title_year==2009].sort_values(by=['net_USD'],ascending=False).head(3)

,movie_ID,movie_title,duration,color,title_year,country,language,content_rating,budget_USD,gross_USD,...,actor_3_facebook?,actor_3_facebook_likes,cast_total_facebook_likes,movie_facebook?,movie_facebook_likes;,facenumber_in_poster,num_voted_users,num_user_for_reviews,imdb_score,imdb_top_250
0,1,Avatar,178,1,2009,USA,English,PG-13,237000000,760505847,...,1,855,4834,1,33000,0,886204,3054,7.9,0
2669,2670,The Twilight Saga: New Moon,130,1,2009,USA,English,PG-13,50000000,296623634,...,1,12000,64040,1,13000,2,220758,919,4.6,0
3197,3198,The Hangover,108,1,2009,USA,English,R,35000000,277313371,...,1,706,17623,1,24000,3,583341,626,7.8,0

In [213]:
len(dataupdate_imdb[dataupdate_imdb.language!="English"])

153

In [227]:
a=dataupdate_imdb["language"].value_counts(). head(4)

In [228]:
a

English     3628
French        33
Spanish       23
Mandarin      14
Name: language, dtype: int64

In [229]:
a.tail(3)

French      33
Spanish     23
Mandarin    14
Name: language, dtype: int64

In [264]:
dataupdate_imdb.groupby('country').sum().sort_values(by='net_USD',ascending=False).head(3)

,movie_ID,duration,color,title_year,budget_USD,gross_USD,net_USD,profitable,director_facebook?,director_facebook_likes,...,actor_3_facebook?,actor_3_facebook_likes,cast_total_facebook_likes,movie_facebook?,movie_facebook_likes;,facenumber_in_poster,num_voted_users,num_user_for_reviews,imdb_score,imdb_top_250
country,,,,,,,,,,,,,,,,,,,,,
USA,5675953,329223,2924,6027180,121680335210,173684268384,52003933174,1729,2494,2769868,...,2989,2521427,37195351,1646,28279429,4267,326474639,1013202,19207.4,114
UK,617519,35921,306,636498,9972938734,11504553258,1531614524,138,263,94324,...,316,180520,2844615,160,3265458,408,32119102,108650,2177.4,15
Australia,68124,4116,38,78062,1411705523,1664277139,252571616,18,33,9118,...,39,13550,351964,24,548475,42,3337163,11892,252.2,1

In [259]:
mean2013=dataupdate_imdb[dataupdate_imdb['title_year']==2013]
mean2013count=mean2013['budget_USD'].mean()

In [260]:
mean2013count

51069610.77439024

In [261]:
mean2014=dataupdate_imdb[dataupdate_imdb['title_year']==2014]
mean2014count=mean2014['budget_USD'].mean()
mean2014count

49919006.62251656

In [262]:
mean2014count>mean2013count

False

In [263]:
mean2014count<mean2013count

True

In [267]:
dataupdate_imdb_high=dataupdate_imdb.sort_values(by=['net_USD'],ascending=False)
dataupdate_imdb_high[['movie_title','budget_USD','net_USD']].head(1)

  movie_title  budget_USD    net_USD
0      Avatar   237000000  523505847